.nav {
    position: fixed;
    z-index: 5;
    width: 100vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 90%;
    padding: 10px 0;
}

.nav-logo {
    font-family: cursive, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    font-size: 22px;
    font-weight: 600;
}

.nav-profile {
    display: flex;
    justify-content: center;
    align-items: center;
}
